.attention
  %p チャットグループが作成されました。
.chat-side
  .chat-side__user
    .chat-side__user-content
      .chat-side__user-name
        = current_user.name
      %a.chat-side__user--new-group
        %i.fa.fa-pencil-square
      %a.chat-side__user--edit-user
        %i.fa.fa-cog
  .chat-side__groups
  - @groups.each do |group|
    .chat-side__groups-list
      .chat-side__group
        .chat-side__group-name
          = group.name
        .chat-side__group-message
          まだメッセージはありません。
.chat-main
  .chat-main__header
    .chat-main__header--group
      .chat-main__header--group-name sampleグループ
      %a.chat-main__header--group-edit-btn edit
    .chat-main__header-members MEMBERS: seo neko
  .chat-main__body
    .chat-main__body--messages-list
      .chat-main__body--message
        .chat-main__body--message-name seo
        .chat-main__body--message-time 2016/9/21 06:16:55
        .chat-main__body--message-body Hello world!
      .chat-main__body--message
        .chat-main__body--message-name neko
        .chat-main__body--message-time 2016/9/22 06:16:55
        .chat-main__body--message-body Good bye world!
  .chat-main__footer
    .chat-main__footer-form
      %p type messages
      %i.fa.fa-image
      .submit-btn
        %p Send
