.chat-main__body--message
- @group.messages.each do |message|
  .chat-main__body--message-name
    = message.user.name
  .chat-main__body--message-time
    = message.created_at
  .chat-main__body--message-body
    = message.body
    = image_tag message.image
