%div.chat-side
  %div.chat-side__user
    %div.chat-side__user-content
      %div.chat-side__user-name
        = current_user.name
      %a.chat-side__user--new-group
        %i.fa.fa-pencil-square
      %a.chat-side__user--edit-user
        %i.fa.fa-cog
  %div.chat-side__groups
  = render partial: 'groups/group', collection: @groups, as: :group
