%div.attention
  %p ログインしました。
%div.chat-side
  %div.chat-side__user
    %div.chat-side__user-content
      %div.chat-side__user-name seo
      %a.chat-side__user--new-group
        %i.fa.fa-pencil-square
      %a.chat-side__user--edit-user
        %i.fa.fa-cog
  %div.chat-side__groups
    %div.chat-side__groups-list
      %div.chat-side__group
        %div.chat-side__group-name sample
        %div.chat-side__group-message Goodbye world.
/ %div.chat-main
/   %div.chat-main__header
/     %div.chat-main__header--group
/       %div.chat-main__header--group-name sampleグループ
/       %a.chat-main__header--group-edit-btn edit
/     %div.chat-main__header-members MEMBERS: seo neko
/   %div.chat-main__body
/     %div.chat-main__body--messages-list
/       %div.chat-main__body--message
/         %div.chat-main__body--message-name seo
/         %div.chat-main__body--message-time 2016/9/21 06:16:55
/         %div.chat-main__body--message-body Hello world!
/       %div.chat-main__body--message
/         %div.chat-main__body--message-name neko
/         %div.chat-main__body--message-time 2016/9/22 06:16:55
/         %div.chat-main__body--message-body Good bye world!
/   %div.chat-main__footer
/     %div.chat-main__footer-form
/       %p type messages
/       %i.fa.fa-image
/       %div.submit-btn
/         %p Send
