$white : #FFFFFF;
$chat-color: #434A54;
$blue: #38AEF0;

$attention-height: 30px;
$chat-side-width: 300px;
$chat-side-user-height: 28px * 2 + 40px;
$header-height: 28px * 2 + 40px;
$header-border-bottom: 1px;
$footer-height: 90px;
$form-margin-left: 40px;
$submit-btn-width: 100px;
$submit-btn-margin-left: 15px;
$submit-btn-margin-right: 40px;
